# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Python (Virtual Env)
.venv/
venv/
ENV/
__pycache__/
*.py[cod]

# Assets no optimizados
assets/icons/raw/
assets/audio/raw/

# Logs
*.log
